

html {
    font-size: 62.5%;
}

body {
    background-color: $light-lime;
}

// here there will be two wrappers 1) for contents that occupy a portion of the viewport width (i.e. .wrapper) and 2) for contents that extend to the edge of the max viewport width (i.e. max-wrapper)

.wrapper {
    max-width: 1600px;
    width: 85%;
    margin: 0 auto;
}

.max-wrapper {
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
}

body {
    margin: 0;
}

header {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    @include flex(column, nowrap, center, center);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    @include underline;
}

ul,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
a,
button,
h4 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    color: $text;
}

p,
input,
li,
i {
    font-family: 'Roboto', sans-serif;
}

nav, 
button,
h3,
h4 {
    letter-spacing: 1px;
}

p,
input,
li,
a,
i {
    font-size: 2rem;
    line-height: 1.6;
    @include for-980-break {
        font-size: 1.8rem;
    }
}

h1 {
    font-size: 13.8rem;
    @include for-1300-break {
        font-size: 8rem;
    }
    z-index: 1;
    @include for-980-break {
        font-size: 7rem;
    }
}

h2 {
    font-size: 4.2rem;
    @include for-980-break {
        font-size: 3.4rem;
    }
}

h3 {
    font-size: 3.2rem;
    @include for-980-break {
        font-size: 2.8rem;
    }
}

h4,
i {
    font-size: 2.6rem;
    @include for-980-break {
        font-size: 2.2rem;
    }
}

.background-green {
    background-color: $light-lime;
}

.background-grey {
    background-color: $off-white;
}

.read-more-button {
    padding: 10px 20px;
    background: $bright-lime;
    display: inline-block;  
}

.read-more-button,
button {
    border: 4px solid rgba(253, 250, 105, 0);
    transition: all 0.3s;
    &:hover {
        border: 4px solid rgba(253, 250, 105, 1);
    }
    &:focus {
        outline: 3px dotted $text;
    } 
}

.right-shadow {
    box-shadow: 40px 40px 0 $yellow-shadow;
    @include for-1100-break {
        box-shadow: 30px 30px 0 $yellow-shadow;
    }
    @include for-500-break {
        box-shadow: 20px 20px 0 $yellow-shadow;
    }
}

.left-shadow {
    box-shadow: -40px 40px 0 $yellow-shadow;
    @include for-1100-break {
        box-shadow: -30px 30px 0 $yellow-shadow;
    }
    @include for-500-break {
        box-shadow: -20px 20px 0 $yellow-shadow;
    }
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
    font-family: serif;
    font-size: 2rem;
}
.skip-link:focus {
    left: 0;
}

